bw.7ptu.tk:443 {
    # The negotiation endpoint is also proxied to Rocket
    proxy /notifications/hub/negotiate bw.g1ns.ga:80 {
        transparent
    }
    
    # Notifications redirected to the websockets server
    proxy /notifications/hub bw.g1ns.ga:3012 {
        websocket
    }
    
    # Proxy the Root directory to Rocket
    proxy / bw.g1ns.ga:80 {
        transparent
    }

    tls ${SSLCERTIFICATE} ${SSLKEY}
    # or 'tls self_signed' to generate a self-signed certificate
}
